

/* ===============================
Default Styles
================================== */
// @import '/node_modules/bootstrap/scss/bootstrap.scss';
@import 'bootstrap/scss/bootstrap';

@import 'default/variables';
@import 'default/mixins';
@import 'default/reset';
@import 'default/typography';
@import 'default/extend';
@import 'default/animations';
@import 'default/shortcode';
@import 'default/common';
@import 'default/forms';

/* ===============================
Elements Styles
================================== */

@import 'elements/about';
@import 'elements/back-to-top';
@import 'elements/breadcrumb';
@import 'elements/button';
@import 'elements/categories';
@import 'elements/contact';
@import 'elements/countdown';
@import 'elements/error';
@import 'elements/newsletter';
@import 'elements/pagination';
@import 'elements/poster';
@import 'elements/price-slider';
@import 'elements/privacy-policy';
@import 'elements/section';
@import 'elements/service';
@import 'elements/slick';
@import 'elements/slider';
@import 'elements/social';
@import 'elements/team';
@import 'elements/testimonial';
@import 'elements/video';
@import 'elements/splash';
@import 'elements/bookdetail';

/* ===============================
Header Styles
================================== */
@import 'header/header-top';
@import 'header/header';
@import 'header/nav';

/* ===============================
banner Styles
================================== */

@import 'banner/books';

/* ===============================
Shop Styles
================================== */

@import 'shop/header-cart';
@import 'shop/store';
@import 'shop/product-details';
@import 'shop/checkout';
@import 'shop/my-account';

/* ===============================
Blog Styles
================================== */

@import 'blog/blog-list';
@import 'blog/blog-single';
@import 'blog/comment';
@import 'blog/sidebar';
@import 'blog/blog';

/* ===============================
Footer Styles
================================== */

@import 'footer/footer';

/* ===============================
Spacing
================================== */
@import 'default/spacing';

/* ===============================
Dark Style
================================== */

/* ===============================
RTL Style
================================== */
