/*-------------------------
    Breadcrumb Styles  
--------------------------*/
.axil-breadcrumb-area {
    position: relative;
    .row {
            position: relative;
        }
    background-color: #f8f8f8;
    padding: 40px 0 45px;

    .inner {
        .title {
            font-size: 40px;
            margin-bottom: 0;
            text-transform: capitalize;

            @media #{$md-layout} {
                font-size: 34px;
            }

            @media #{$sm-layout} {
                font-size: 28px;
            }

            @media #{$large-mobile} {
                font-size: 24px;
            }
        }

                .bradcrumb-thumb {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
        
                    @media #{$sm-layout} {
                        display: none;
                    }
        
                    .breadcrumb-img {
                        width: 110px;
                        height: auto;
                        max-width: 100%;
                        border-radius: 50%;
                        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
                        transition: transform 0.3s ease;
        
                        @media #{$md-layout} {
                            width: 90px;
                        }
        
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
    }
}

.axil-breadcrumb {
    display: flex;
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
    align-items: center;

    li {
        font-size: var(--font-size-b1);
        line-height: var(--line-height-b1);
        font-weight: 500;

        a {
            color: #999999;
        }

        &.axil-breadcrumb-item.active {
            color: var(--color-primary);
        }

        &.separator {
            height: 11px;
            width: 2px;
            background-color: #e5e5e5;
            margin: 0 8px;
        }
    }
}